.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 102, 0);
    color: rgb(205, 255, 131);
}

.footer span {
    font-weight: bold;
    color: rgb(205, 255, 131);
}