.footer {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #481348;
    color: #c080e6;
}

.footer span {
    font-weight: bold;
    color: #c080e6;
}